 <div class ="row">
      <% Category.most_popular.each_with_index do |category, index| %>
      <div class="col s12 m4 center-align'">
        <div class="card hoverable">
          <%=link_to category_path(category.slug) do%>
          <div class="card-image">
            <div class="responsive-img"><%=image_tag("#{index+4}.jpg")%></div>
            <div class="card-content center-align">
              <div id="menu">, <%=category.name%></div>
            </div>
          </div>
          <%end%>
        </div>
      </div>
      <% end %>
    </div>