<div class='row center-align'><h2>Site Information</h2></div>
<div class='row'>
    <div class='col s4 m4 card'>Users</div>
    <div class='col s4 m4 card'>Study Rooms</div>
    <div class='col s4 m4 card'>Locations</div>
</div>
<div class='row'>
    <div class='col s4 m4 card center-align'>
        <p>Total Users: </p>
    </div>
    <div class='col s4 m4 card'>
        <p>Total Study Rooms: </p>
    </div>
    <div class='col s4 m4 card'>
        <p>Total Locations: </p>
    </div>
</div>
<div class='row'>
    <div class='col s4 m4 card'>
    </div>
    <div class='col s4 m4 card'>
    </div>
    <div class='col s4 m4 card'>
    </div>
</div>
