<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Study Space</title>

  <!-- CSS  -->
</head>
<body>
    <!-- banner  -->
      <div class="container">
        <br><br>
        <h1 class="header center teal-text narrow">Study Space</h1>
        <div class="row center">
          <h5 class="header col s12 teal-text">Find the study spot for you.</h5>
        </div>
        <br><br>
      </div>
  <!-- banner  -->
  <!-- content  -->
<div class="container">
    <div class="section text-color:#484848 ">
      <div style="font-size:120%" > Popular Locations </div>
      <%=render 'most_pop_locations'%>
    </div>

    <div class="section text-color:#484848 ">
        <div style="font-size:120%"> Popular Categories </div>
        <%=render 'most_pop_categories'%>
    </div>
</div>

</body>
    <!-- content  -->
