<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Study Space</title>

  <!-- CSS  -->
</head>
<body>
    <!-- banner  -->
      <div class="container">
        <br><br>
        <h1 class="header center teal-text narrow">Study Space</h1>
        <div class="row center">
          <h5 class="header col s12 teal-text">Find the study spot for you.</h5>
        </div>
        <br><br>
      </div>
  <!-- banner  -->
  <!-- content  -->
    <div class="container">
     <div class="section text-color:#484848 ">
      <div style="font-size:120%" > Popular Locations </div>
    <div class ="row">
      <% Location.most_popular.each_with_index do |location, index| %>
      <div class="col s12 m4 center-align'">
        <div class="card">
          <div class="card-image">
            <div class="responsive-img"><%=image_tag("#{index+1}.jpg")%></div>
            <div class="card-content center-align">
              <div id="menu" ><%=link_to location.name, location_path(location.slug)%></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="section text-color:#484848 ">
      <div style="font-size:120%"> Popular Categories </div>
    <div class ="row">
      <% Category.most_popular.each_with_index do |category, index| %>
      <div class="col s12 m4 center-align'">
        <div class="card">
          <div class="card-image">
            <div class="responsive-img"><%=image_tag("#{index+4}.jpg")%></div>
            <div class="card-content center-align">
              <div id="menu"><%=link_to category.name, category_path(category.slug)%></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>

</body>
    <!-- content  -->
