<div id="comment_box">
    <div id="new_comment">
        <%=form_tag comments_path%>
            <%=text_area_tag :comment%> <%=submit_tag "Add Comment"%>
        <%end%>
    </div>
    <div id="comments">
        <%if !@study_room.comments.blank?%>
            <%@study_room.comments.reverse.each do |comment|%>
                <p><%=comment.comment%></p>
            <%end%>
        <%end%>
    </div>
</div>