<nav class="grey" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="brand-logo ">Study Space</a>
    <ul class="right hide-on-med-and-down">
      <li><a href= <%=locations_path%> >Locations</a></li>
      <li><a href= <%=categories_path%> >Categories</a></li>
      <% if current_user.present? %>
        <li><a href=<%=user_path(current_user)%>>My Profile</a></li>
      <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

  </div>
</nav>
