<div class='row center-align'><h1> Find a Study Location! </h1></div>


<div class="container">
  <div class='row'>
  <div class='col s6 map center-align'>
    <div class='card'>
      <img class="responsive-img center" src=<%="https://maps.googleapis.com/maps/api/staticmap?size=500x300&scale=3"+Location.coord_output(Location.ranked)%>>
    </div>
  </div>

  <%=render 'location_list'%>

</div>
