<h1> Find a Study Location! </h1>

<ul>
<%@locations.each do |location| %>
  <li><%=link_to location.name, location_path(location) %></li>
<% end %>
</ul>

<%=link_to "See all Study Rooms", study_rooms_path%>
<%=link_to "See all Users", users_path%>
<%=link_to "See all Categories", categories_path%>
